* {
    color: white;
    margin: 0;
}

html, body {
    background-color: rgb(57, 57, 57);
    width: 100%;
    height: 100%;
}

img {
    display: block;
    max-width: 1.3em;
    margin: auto;
}

table {
    border-spacing: 1.5em 0.8em;
}

thead {
    text-align: left;
    font-size: 1.2em;
}
.rentButton {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 1em;
    padding: 0.8em 1.4em;
    cursor: pointer;
}